In [1]:
# about

In [2]:
import pandas as pd
import numpy as np

# 1. Convert a continuous numerical feature into a categorical feature
* Often we have to combine/transform existing features to create a more useful one. 
* A straightforward and popular way to do this is to create a categorical feature from a continuous numerical one (i.e. binning!)
* Example data:

```
df['Age'].head(8)
0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0

```

* Age is a continuous numerical attribute, but what if you want to convert it into a categorical attribute, for example, convert ages to groups of age ranges: ≤12, Teen (≤18), Adult (≤60), and Older (>60)
* To do this, we can use the Pandas `cut()` function

```
import sys
df['ageGroup']=pd.cut(
    df['Age'], 
    bins=[0, 13, 19, 61, sys.maxsize], 
    labels=['<12', 'Teen', 'Adult', 'Older']
)

```

* And calling head() on the ageGroup column should also display the column information.

```
df['ageGroup'].head(8)
0    Adult
1    Adult
2    Adult
3    Adult
4    Adult
5      NaN
6    Adult
7      <12
Name: ageGroup, dtype: category
Categories (4, object): [<12 < Teen < Adult < Older]

```